<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="/opt/logs"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                [%d{yyyyMMdd HH:mm:ss}] [%-5level] [%-30logger{0}][%-3L] [SeqId:%X{SeqId}] - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/spring_test.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/spring_test.%d{yyyy-MM-dd}.%i.log.zip
            </FileNamePattern>
            <MaxFileSize>5MB</MaxFileSize>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyyMMdd HH:mm:ss}] [%-5level] [%-30logger{0}][%-3L] [SeqId:%X{SeqId}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="spring_test" level="info" additivity="true">
        <appender-ref ref="main"/>
    </logger>

    <root level="info">
        <appender-ref ref="main"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>
